.modal-content {
    border-right: 0 !important;
}

.close-button-top {
    position: absolute;
    right: 6.1rem;
    top: -.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: #f5c518;
}

.top-20-rated-wrapper {
    background-color: black;
}

.top-20-rated-header-container {
    position: relative;
    margin-top: 2rem;
    left: 3.5%;
    margin-bottom: 2rem;
}

.top-20-rated-header {
    color: #f5c518;
}


.rated-20-div {
    margin-top: 2rem;
    width: 90%;
    left: 3.5%;
    padding: 0;
}

.rated-20-img {
    height: 20rem;
    width: 14rem;
    cursor: pointer;
}

.rated-20-rating {
    color: #f5c518;
    font-size: 2rem;
    position: relative;
    bottom: .1rem;
}

.rated-20-rating-text {
    font-size: 2rem;
}

.rated-20-title {
    font-size: 2rem;
    cursor: pointer;
}

.rated-20-title:hover {
    text-decoration: underline;
}

.rated-20-overview {
    font-size: 1.4rem;
}

@media screen and (max-width: 600px) {
    
    .most-popular-20-img {
        margin-top: 1rem !important;
        margin-left: 1rem !important;
        height: 6rem;
        width: 4rem;
    }

    .most-popular-20-title  {
        font-size: 1.5rem;
    }

    .most-popular-20-rating {
        font-size: 1.4rem ;
    }

    .most-popular-20-rating-text {
        font-size: 1.3rem;
    }

    .most-popular-20-overview {
        width: 100%;
    }
}