*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Hellix', 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    min-height: 100vh !important;
    min-width: 100vw !important;
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
    width: 100vw;
    background:#1b1b1b;
    padding-bottom: 10rem;
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #070707;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background:#fff;
    padding: 1rem;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
    border-radius: 1rem;
} 